<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Reserve Room</h4>
        </div>

        <div class="card-body" *ngIf="room; else loading">
          <div class="text-center mb-4">
            <!-- <img [src]="room.imageUrl" [alt]="room.name" class="img-fluid rounded" -->
            <img
              [src]="'../../../../assets/rooms.jpg'"
              [alt]="room.name"
              class="img-fluid rounded"
              style="max-height: 300px; object-fit: cover"
            />
          </div>

          <h5 class="mb-3">{{ room.name }}</h5>

          <ul class="list-group mb-4">
            <li class="list-group-item">
              <strong>Type:</strong> {{ room.type }}
            </li>
            <li class="list-group-item">
              <strong>Price: </strong>
              <span class="text-danger fw-semibold">LKR</span>
              {{ formatPrice(room.price) }}/night
            </li>
            <li class="list-group-item">
              <strong>Capacity:</strong> {{ room.capacity }} guests
            </li>
            <li class="list-group-item">
              <strong>Status:</strong>
              <span
                class="badge"
                [ngClass]="room.available ? 'bg-success' : 'bg-danger'"
              >
                {{ room.available ? "Available" : "Booked" }}
              </span>
            </li>
            <li class="list-group-item">
              <strong>Amenities:</strong> {{ room.amenities.join(", ") }}
            </li>
            <!-- <li class="list-group-item" *ngIf="room.description">
              <strong>Description:</strong> {{ room.description }}
            </li> -->
          </ul>

          <div class="mb-3">
            <label for="checkInDate" class="form-label">Check-In Date</label>
            <input
              type="date"
              id="checkInDate"
              class="form-control"
              [(ngModel)]="checkInDate"
              required
            />
          </div>

          <div class="mb-3">
            <label for="checkOutDate" class="form-label">Check-Out Date</label>
            <input
              type="date"
              id="checkOutDate"
              class="form-control"
              [(ngModel)]="checkOutDate"
              required
            />
          </div>

          <button
            class="btn btn-success mt-3"
            (click)="confirmReservation()"
            [disabled]="!room.available"
          >
            Confirm Reservation
          </button>
        </div>

        <ng-template #loading>
          <div class="card-body">
            <p>Loading room details or room not found...</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
