<div class="container py-4">
  <h2>Edit Staff Member</h2>

  <div *ngIf="staffData" class="card">
    <div class="card-body">
      <form [formGroup]="editStaffForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="staffData.name"
            name="name"
            formControlName="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="staffData.email"
            name="email"
            required
            formControlName="email"
            email
          />
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select
            class="form-select"
            id="role"
            [(ngModel)]="staffData.role"
            name="role"
            formControlName="role"
            (change)="getRoleId($any($event.target).value)"
            required
          >
            <option value="">Select Role</option>
            <option *ngFor="let role of staffRole" [value]="role">
              {{ role }}
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Staff</button>
        <button type="button" class="btn btn-secondary ms-2">Cancel</button>
      </form>
    </div>
  </div>
  <div *ngIf="!staffData">
    <p>Loading staff member details or staff member not found...</p>
  </div>
</div>
